
.obsidian/workspace.json
.obsidian/appearance.json
.obsidian/appearance.json
.obsidian/themes/Minimal/manifest.json
.obsidian/themes/Primary/manifest.json
.obsidian/themes/Primary/theme.css
/.obsidian/themes
.obsidian/appearance.json

.obsidian/appearance.json